################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiUsingDapper/Dapper.API/bin/Debug/netcoreapp3.1
/ApiUsingDapper/Dapper.API/obj
/ApiUsingDapper/Dapper.Service/bin/Debug/netcoreapp3.1
/ApiUsingDapper/Dapper.Service/obj
